{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/deck.css' %}">
{% endblock %}

{% block content %}

<div class="deck-title-row">
    <h1>{{ deck.name }}</h1>
    {% if request.user == deck.author %}
    <form method="post" action="{% url 'blog:delete_deck' deck.id %}" class="delete-deck-form">
        {% csrf_token %}
        <button class="delete-deck-btn delete-deck-btn--visible" title="Delete deck" onclick="return confirm('Are you sure you want to delete this deck?')">🗑</button>
    </form>
    {% endif %}
</div>

<p><strong>Author:</strong> {{ deck.author }}</p>
<p><strong>Description:</strong> {{ deck.description }}</p>


<h2>Commander</h2>

<div class="commander-section">

    <div class="card-wrapper">
        <img src="{{ deck.commander.image_url }}" class="card-img">

        <div class="card-preview">
            <img src="{{ deck.commander.image_large_url }}">
            <p>{{ deck.commander.name }}</p>
        </div>
    </div>

    {% if deck.partner_commander %}
    <div class="card-wrapper">
        <img src="{{ deck.partner_commander.image_url }}" class="card-img">

        <div class="card-preview">
            <img src="{{ deck.partner_commander.image_large_url }}">
            <p>{{ deck.partner_commander.name }}</p>
        </div>
    </div>
    {% endif %}

</div>


<h2>Cards</h2>

<div class="deck-container">

    <div class="cards-column">

        {% for type, cards in cards_by_type.items %}

        <div class="card-type">

            <h3>{{ type }} ({{ cards|length }})</h3>

            <div class="card-stack">

                {% for dc in cards %}
                    {% if request.user == deck.author %}
                        {% include "blog/components/card.html" with dc=dc deck=deck show_remove=True %}
                    {% else %}
                        {% include "blog/components/card.html" with dc=dc deck=deck show_remove=False %}
                    {% endif %}
                {% endfor %}

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}