<div class="card-wrapper">

    <img src="{{ dc.card.image_url }}" class="card-img">

    {% if show_remove %}
    <form method="post" action="{% url 'blog:update_quantity' deck.id dc.card.id %}" class="quantity-form">
        {% csrf_token %}

        <input
            type="number"
            name="quantity"
            value="{{ dc.quantity }}"
            min="1"
            class="card-quantity-input"
            onchange="this.form.submit()"
        >

    </form>

    <form method="post" action="{% url 'blog:remove_card' deck.id dc.card.id %}">
        {% csrf_token %}
        <button class="remove-btn">❌</button>
    </form>
    {% endif %}

    <div class="card-preview">
        <img src="{{ dc.card.image_large_url }}">
    </div>

</div>